div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-md-12

            h4.page-header Change Log

            ul
                li v1.1 (May.2)
                ul
                    li Change default sort order to time ascending in [upgrade] tab
                    li add color in gold, elixir etc
                    li add upgrade action in [upgrade] tab

                li v1.0 (May.1)
                ul
                    li [upgrade] tab
                    li update for coc 2015-04-30 patches - air sweeper

                li v0.9 (Apr.30)
                ul
                    li fix a bug in hero page and upgrade done
                    li share feature (available in profile page)
                    li add upgrade tooltip in research, hero tab
                    li update wall tab - display elixir upgrade information

                li v0.8 (Apr.26) - add daily production, extend session time, fix research time error
                li v0.7 (Apr.25) - sync with server
                li v0.6 (Apr.18) - hero, upgrade spell, upgrade completion
                li v0.5 (Apr.17) - initial release

            h4.page-header Info

            .container
                p
                | Clash of Clans and its logos are trademarks of Supercell. This web site is not affiliated with, endorsed, sponsored,
                | or specifically approved by Supercell. Supercell is not responsible for the operation or content of this site.
                | For more information about Supercell, please visit their website at www.supercell.net.
                | If you find a bug please send an e-mail to
                span.space
                a.space(href="mailto:jmjeong@gmail.com") Jaemok Jeong(jmjeong@gmail.com)
