//
   Created by jmjeong on 2015. 4. 16..

div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-lg-12

            h4.page-header Change Log
            ul
                li v0.5 initial release (apr.17)

            h4.page-header Todo
            ul
                li process upgrade completion
                li adjust upgrade time
                li research(spell) upgrade
                li hero tab
                li synchronization with server
                s
                    li research(unit) upgrade
                    li add upgrade tracker
                    li considering long streak when calculating upgrade time with many builders
                    li defense, trap, army, resource  tab
                    li walls tab
            p If you have any questions or suggestions, please mail to
                span.space
                a(href="mailto:jmjeong@gmail.com") jmjeong@gmail.com
