//
   Created by jmjeong on 2015. 4. 16..

div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-lg-12

            h4.page-header Change Log
            ul
                li v0.6 - hero, upgrade spell (apr.18)
                li v0.5 - initial release (apr.17)

            h4.page-header Todo
            ul
                li process upgrade completion
                li synchronization with server
                li REST API
                li mobile ready
                s
                    li hero tab
                    li research(spell) upgrade
                    li adjust upgrade time
                    li research(unit) upgrade
                    li add upgrade tracker
                    li considering long streak when calculating upgrade time with many builders
                    li defense, trap, army, resource  tab
                    li walls tab

            h4.page-header Info

            .container
                p
                | Clash of Clans and its logos are trademarks of Supercell. This web site is not affiliated with, endorsed, sponsored,
                | or specifically approved by Supercell. Supercell is not responsible for the operation or content of this site.
                | For more information about Supercell, please visit their website at www.supercell.net.
                | If you find a bug please send an e-mailto
                span.space
                a.space(href="mailto:jmjeong@gmail.com") jmjeong@gmail.com