div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-md-12

            h4.page-header Info

            .container
                p
                | Clash of Clans and its logos are trademarks of Supercell. This web site is not affiliated with, endorsed, sponsored,
                | or specifically approved by Supercell. Supercell is not responsible for the operation or content of this site.
                | For more information about Supercell, please visit their website at &nbsp;
                a(href='http://www.supercell.net') www.supercell.net.
                p
                | If you find a bug, please send an e-mail to &nbsp;
                a(href="mailto:jmjeong@gmail.com") Jaemok Jeong (jmjeong@gmail.com)

            h4.page-header Change Log

            .container
                ul
                    li v2.11 (June 2 2016)
                    ul
                        li Fix Skeleton spell info
                    li v2.1 (May 25 2016) - May 2016 Update
                    ul
                        li Cannon level 14 at TH 11
                        li Lava hound level 4 at TH 11
                        li Ballon Level 7 at TH 11
                        li Miner at TH 10
                        li Baby dragon at TH 9
                        li Clone spell at TH 10
                        li Skeleton spell at TH 9
                    li v2.01 (May 22 2016)
                    ul
                        li Fix a bug in wall page with hideDoenBuilding option
                    li v2.0 (May 7 2016)
                    ul
                        li enhance upgrade window
                        li enhance protocol and data structure
                        li log is available without log-in
                        li count of wall could not be negative
                        li add ChangeToMaxHall function for easy setup
                        li fix some wrong information in TH 11
                        li add removeUpgrade function in front page
                        li on signup, local data are synced to server
                    li v1.71 (Mar 28 2016)
                    ul
                        li add [Dark Barrack Lv 7] in TH 10
                    li v1.7 (Mar 24 2016)
                    ul
                        li update for coc 2016-03-21(The Bowler) patches
                    li v1.65 (Mar 19 2016)
                    ul
                        li data was reset because of system failure. Sorry for inconvenience
                    li v1.64 (Mar 16 2016)
                    ul
                        li fix [Air Defense] number in Th6, Th7, and Th8
                    li v1.63 (Dec 23 2015)
                    ul
                        li fix [Haste spell] information
                    li v1.62 (Dec 22)
                    ul
                        li add Wizard tower Lv9 in Town Hall 11
                        li fix [Grand warden] cost type in Upgrade Tab
                    li v1.6 (Dec 15)
                    ul
                        li update for coc 2015-12-10 patches - Town Hall 11 (Grand warden & eagle artillery)

                    li v1.51 (Sep 21)
                    ul
                        li consider hero upgrade time in overview page

                    li v1.5 (Sep 18)
                    ul
                        li update for coc 2015-09-18 patches - wall, lightning spell in level 10

                    li v1.43 (Aug 26)
                    ul
                        li enhance Update Completion Action

                    li v1.42 (Aug 21)
                    ul
                        li fix the wrong upgrade info of Haste Spell

                    li v1.41 (Jul 8)
                    ul
                        li fix the wrong upgrade information
                        li REST API for upgrade and log info

                    li v1.4 (Jul 1)
                    ul
                        li update for coc 2015-07-01 patches - dragon, dark spell factory etc

                    li v1.34 (Jun 5)
                    ul
                        li add color in [Log] Tab
                    li v1.33 (May 27)
                    ul
                        li fix sort order in [Log] Tab
                    li v1.32 (May 21)
                    ul
                        li fix Air sweeper information (air sweeper can build to level 3 in town hall 7)

                    li v1.31 (May 8)
                    ul
                        li fix a bug that upgrade is not saved in server for some user
                        li add Upgrade History Log

                    li v1.26 (May 5)
                    ul
                        li enhance complete action
                        li fix a bug in completion event when using in multiple devices
                        li display upgrade due time in [upgrade] tab

                    li v1.12 (May 2)
                    ul
                        li change default sort order to time ascending in [upgrade] tab
                        li add color in gold, elixir etc
                        li add upgrade action in [upgrade] tab
                        li display numbers of building in [upgrade] tab
                        li add gem information in [upgrade] tab
                    li v1.0 (May 1)
                    ul
                        li [upgrade] tab
                        li update for coc 2015-04-30 patches - air sweeper
                    li v0.9 (Apr 30)
                    ul
                        li fix a bug in hero page and upgrade done
                        li share feature (available in profile page)
                        li add upgrade tooltip in research, hero tab
                        li update wall tab - display elixir upgrade information
                    li v0.8 (Apr 26) - add daily production, extend session time, fix research time error
                    li v0.7 (Apr 25) - sync with server
                    li v0.6 (Apr 18) - hero, upgrade spell, upgrade completion
                    li v0.5 (Apr 17) - initial release
