div(ng-include='"components/navbar/navbar.html"')
div(ng-include="'app/main/subnav.html'")
toast

.container

    table.table.table-bordered.table-condensed.col-md-12.top-margin
        thead
            tr
                th.col-md-2 RESEARCH
                th.col-md-3
                th.col-md-7 Upgrade Costs
        tbody
            tr(ng-repeat='d in data')
                td {{d.title}}
                td.text-center
                    a.btn.btn-default.btn-xs.pull-left(ng-click='changeLevel(d.name,$index,-1,d.maxLevel)'
                    ng-disabled="d.level==0 || d.upgradeIdx>=0 || readonlyName")
                        span.glyphicon.glyphicon-minus
                    {{d.level}}/{{d.maxLevel}}
                    span.pull-right
                        a.btn.btn-default.btn-xs(ng-click='changeLevel(d.name,$index,1,d.maxLevel)'
                        ng-disabled="d.level>=d.maxLevel || d.upgradeIdx >= 0 || readonlyName")
                            span.glyphicon.glyphicon-plus
                        a.btn.btn-default.btn-xs(ng-click='upgrade(d.name,d.title,$index,d.maxLevel)'
                                                ng-disabled="d.level>=d.maxLevel || readonlyName")
                            span.glyphicon.glyphicon-home
                td
                    div(ng-show='d.upgradeIdx >= 0')
                        span.text-primary Upgrade to {{upgradeList[d.upgradeIdx].level}}.
                        span.space
                        b.text-primary {{timeStrMoment(remainTime(upgradeList[d.upgradeIdx].due))}} / {{timeStr(upgradeList[d.upgradeIdx].time)}}
                    div
                        span(ng-hide='d.nextUpgrade. data.length==0')
                            icon-elixir(ng-show='d.nextUpgrade.type == "e"')
                            icon-darkelixir(ng-show='d.nextUpgrade.type == "d"')
                            icon-gold(ng-show='d.nextUpgrade.type == "g"')
                            span.space(ng-repeat='i in d.nextUpgrade.data')
                                span(popover='{{popover(d.name,i[0])}}' popover-trigger='mouseenter')
                                    span(ng-class='d.nextUpgrade.type') {{costFormat(i[1])}}
                                    span /{{timeStr(i[2])}} (Lv{{i[0]}})
                            // span(ng-show='d.nextUpgrade.data.length >= 4') ...
            tr
                td(colspan='3')
                    div
                        strong.space(popover='Total time to upgrade all Research' popover-trigger='mouseenter') Upgrade Time:
                        span {{timeStr(summary.requiredTime)}}
                    div
                        strong.space(popover='Total cost to upgrade all Research' popover-trigger='mouseenter') Upgrade Cost:
                        span(ng-hide='summary.requiredCost[1]==0')
                            span.e {{costFormat(summary.requiredCost[1])}}
                                icon-elixir.space
                        span(ng-hide='summary.requiredCost[2]==0')
                            span.d {{costFormat(summary.requiredCost[2])}}
                                icon-darkelixir.space
                    div.small
                        span.space Done Time:
                        span {{timeStr(summary.doneTime)}}
                    div.small
                        span.space Done Cost:
                        span(ng-hide='summary.doneCost[1]==0')
                            span.e {{costFormat(summary.doneCost[1])}}
                            icon-elixir.space
                        span(ng-hide='summary.doneCost[2]==0')
                            span.d {{costFormat(summary.doneCost[2])}}
                            icon-darkelixir.space
