div
    ul.nav.nav-tabs(ng-controller='subNavbarCtrl')
        li.active
            a(ng-href="") {{name}}
        li(ng-repeat="m in menu")
            a(ng-href="{{m.link}}" ng-class='{active: isActive("{{m.link}}")}') {{m.title}}

p

div.col-md-12
