div.container
    div
        ul.nav.nav-tabs(ng-controller='subNavbarCtrl')
            li.active(ng-show='viewname')
                a(ng-href="") {{viewname}}
            li(ng-repeat="m in menu")
                a(ng-href="{{m.link}}" ng-class='{active: isActive("{{m.link}}")}') {{m.title}}
            li
                a(ng-href="{{link('upgrade')}}") [Upgrade]
            li
                a(ng-href="{{link('log')}}" ng-show='isLoggedIn()',) [Log]
