div(ng-include='"components/navbar/navbar.html"')
div(ng-include="'app/main/subnav.html'")

.container.center
    table.table-bordered.table-condensed.row-border.hover.top-margin(ng-table='tableParams')
        tr(ng-repeat='e in $data' ng-class="{'upgrade': e.upgrade}")
            td(data-title="'Name'" sortable="'name'") {{e.name}}
            td(data-title="'Time'" sortable="'time'") {{timeStr(e.time)}}
            td(data-title="'Gold'" sortable="'costg'") {{costFormat(e.costg)}}
            td(data-title="'Elixir'" sortable="'coste'") {{costFormat(e.coste)}}
            td(data-title="'Dark Elixir'" sortable="'costd'") {{costFormat(e.costd)}}
